html,

head {
  border-style: solid;
  border-color: #ccece6;
  border-width: 10px;
}

.lfptime{
	 width: 100%;
	 height: 100%;
	 align-items: center;
	 justify-content: center;
     display: flex;
     flex:50;
  }

body {
  color: #000;
  background: #fff;
  width: 100%;
  height: 100%;
  font-family: Garamond;
  margin: 10px;
  padding: 10px;
  border: 10px;
}

path.line
{
    fill: none;
    stroke: #000;
}

.dynscatter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

          #GWGButton {
        cursor: pointer;
      }
      
      #GWGButton rect {
        fill: #ccc;
      }
      
      #GWGButton text {
        font-family: Garamond, sans-serif;
        font-size: 14px;
        fill: black;
      }
      
      #GWGButton:hover rect {
        fill: '#12939A';
      }



          #JQButton {
        cursor: pointer;
      }
      
      #JQButton rect {
        fill: #ccc;
      }
      
      #JQButton text {
        font-family: Garamond, sans-serif;
        font-size: 14px;
        fill: black;
        text-align: center;
      }
      
      #JQButton:hover rect {
        fill: '#12939A';
        text-align: center;
      }


            #IncButton {
        cursor: pointer;
      }
      
      #IncButton rect {
        fill: #ccc;
        text-align: center;
      }
      
      #IncButton text {
        font-family: Garamond;
        font-size: 14px;
        fill: black;
        text-align: center;
      }
      
      #IncButton:hover rect {
        fill: '#12939A';
      }


                #GovButton {
        cursor: pointer;
      }
      
      #GovButton rect {
        fill: #ccc;
        padding: 2px;
        border-radius: 2px;
      }
      
      #GovButton text {
        font-family: Garamond;
        font-size: 14px;
        text-align: center;
        fill: black;
      }
      
      #GovButton:hover rect {
        fill: '#12939A';
      }


                #Button {
        cursor: pointer;
      }
      
      #Button rect {
        fill: #ccc;
        padding: 2px;
        border-radius: 2px;
      }
      
      #Button text {
        font-family: Garamond;
        font-size: 14px;
        text-align: center;
        fill: black;
      }
      
      #Button:hover rect {
        fill: '#12939A';
      }

      

.tooltip {
    position: absolute;
    font-family: Garamond;
    z-index: 10;
    visibility: hidden;
    background-color: #B4CDCD;
    text-align: center;
    padding: 2px;
    opacity: 0.65;
    border-radius: 2px;
    font-weight: bold;
    font: 12px Garamond;
    color: white;
    pointer-events: none;
}

title, p, h1, h2, h3, h4, h5, h6 {
 font-family: Garamond;
 }
 title {font-size: 4em; }
 p  { font-size: 1.1em; }
 h1 { font-size: 1.8em; }
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.1em ; }
 h4 { font-size: 1.0em; }
 h5 { font-size: 0.9em; }
 h6 { font-size: 0.8em; }

form {
  position: relative;
  top: -550px;
  left: 700px;
}


.node {
  border: solid 1px white;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  font: 13px Garamond;
  line-height: 1em;
  overflow: hidden;
  position: absolute;
  white-space: pre;
  background: #ddd;
  text-indent: 2px;
}

.node-label{
  color: white;
  },
.node-value {
  margin: 4px;
}

.node-value {
  margin-top: -2px;
}

.node-value {
  font-weight: bold;

}

.barchart {
            margin: 10px;
            padding-top: 10px;
        }

        .barchart .right {
            stroke: white;
          
        }

        .barchart .left {
            stroke: white;
          
        }

        .barchart text {
        }

        .barchart text.name {
            font: 14px Garamond;
        }

        .barchart text.title {
            font-weight: bold;
            fill: black;
            font: 16px Garamond bold;

        }
    .ticks {
      font-size: 14px;
    }

    .track,
    .track-inset,
    .track-overlay {
      stroke-linecap: round;
    }

    .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 10px;
    }

    .track-inset {
      stroke: #dcdcdc;
      stroke-width: 8px;
    }

    .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
    }